.wrapper {
    margin-top: 24px;
}

.scroll {
    max-height: 80vh;
    overflow-y: auto;
}

.loading {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.textCenter {
    width: 100%;
    text-align: center;
}

.downloadBtn {
    margin: auto;
    cursor: pointer;
}
