.item {
    display: inline-block;
    border-radius: var(--secondary-border-radius);
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    background: transparent;
    border: none;
    padding: 0;
}
