.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.spinner {
    animation: rotate .5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg)
    }

    to {
        transform: rotateZ(360deg)
    }
}
