.enter {
    opacity: 0 !important;
}

.enterActive {
    opacity: 1 !important;
    transition: opacity 200ms;
}

.exit {
    opacity: 1 !important;
}

.exitActive {
    opacity: 0 !important;
    transition: opacity 200ms;
}
