.item {
    color: var(--font-color-main);
    display: block;
    margin: 2rem 1.4rem;
    text-align: center;
    cursor: pointer;
}

.upperCircle, .bottomCircle, .rect {
    display: none;
}

.itemActive {
    color: var(--font-color-secondary);
    position: relative;
    z-index: 30;
}

.navlinkContent {
    position: relative;
    z-index: 10;
    background-position: right center;
    background-repeat: no-repeat;
    width: 160px;
    background-size: 25px;
    display: flex;
    justify-content: center;
    left: -5px;
    align-items: center;
    height: 36px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.navlinkContent svg {
    width: 20px;
    top: 8px;
    height: auto;
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in;
}

.navlinkContent svg * {
    fill: #ffffff;
    transition: all 0.1s ease-in;
}

.itemActive .navlinkContent svg * {
    fill: var(--background-color-option);
}

.itemAnimation {
    background-size: 25px;
}


.itemActive .rect {
    animation-duration: 0.5s;
    animation-name: slidein;
}

.itemActive .upperCircle {
    animation-duration: 0.5s;
    animation-name: up-circle-animation;

}

.itemActive .bottomCircle {
    animation-duration: 0.5s;
    animation-name: bottom-circle-animation;

}

.itemActive:after {
    animation-duration: 0.5s;
    animation-name: after-circle-animation;
}


@keyframes after-circle-animation {
    from {
        width: 0;
    }

    to {
        width: 20px;
    }
}


@keyframes bottom-circle-animation {
    from {
        border-top-right-radius: 0px
    }

    to {
        border-top-right-radius: 20px
    }
}

@keyframes up-circle-animation {
    from {
        border-bottom-right-radius: 0px
    }

    to {
        border-bottom-right-radius: 20px
    }
}

@keyframes slidein {
    from {
        width: 10px;
        left: 180px;
    }

    to {
        width: 100%;
        left: 0;
    }
}

@media(max-width: 768px) {
    .navlinkContent {
        margin: auto
    }

    /*.item {*/
    /*    margin: 0;*/
    /*}*/

    /*.navlinkContent span {*/
    /*    display: none;*/
    /*}*/

    /*.itemActive .navlinkContent span {*/
    /*    display: block;*/
    /*    margin-right: 12px;*/
    /*}*/

    /*.navlinkContent svg {*/
    /*    position: relative;*/
    /*    top: 1px;*/
    /*}*/

    /*.navlinkContent svg * {*/
    /*    fill: #ffffff!important;*/
    /*}*/

    /*.itemActive .navlinkContent {*/
    /*    border-radius: var(--secondary-border-radius);*/
    /*    background-color: #250266;*/
    /*    padding: 20px;*/
    /*}*/

    /*.navlinkContent {*/
    /*    width: auto;*/
    /*    margin: 8px;*/
    /*}*/
}
