.wrapper {
    height: 200vh;
    width: 200vw;
    position: fixed;
    top: -50vh;
    left: -50vw;
    z-index: 1;
    opacity: 1;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 840s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 840s;
}

@keyframes orbit {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}

.wrapper svg {
    position: absolute;
}

.stroke svg * {
    fill-opacity: 0;
}

.diamond {
    transition: all 1s ease-in;
    opacity:0;
    animation: show 20s infinite;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
